<div [ngClass]="TC.MODE.bg_general[TC.THEME_ACTIVE]" class="section overflow-hidden">
    <div class="row">
        <div class="col l3">
            <app-aside-info></app-aside-info>
        </div>

        <div class="col l9 ">
            <div class="row mb-0 pr-1">
                <!-- init chat list with messages and contacts -->
                <div class="col l5">

                    <!-- Info profile -->
                    <div [ngClass]="TC.MODE.chat.info.bg[TC.THEME_ACTIVE]" class="row p-1 mb-0 box-shadow-1">

                        <!-- profile img and status-->
                        <div class="col l6">
                            <img [src]="infoProfile.photo" alt="img profile"
                                class="img-thumbnail border-radius-50 w-h-45px" width="45" height="45">

                            <span [ngClass]="TC.MODE.chat.info.profile.text_status[TC.THEME_ACTIVE]"
                                class="position-absolute ml-1 mt-1" *ngIf="socketWebSvc.statusConnection">En
                                linea</span>
                            <span class="position-absolute ml-1 mt-1 red-text text-accent-5"
                                *ngIf="!socketWebSvc.statusConnection">{{socketWebSvc.reasonDisconnection == 1 ?
                                'Sesión iniciada desde otro dispositivo': 'Sin conexión'}}</span>
                        </div>

                        <!-- profile options -->
                        <div class="col l6 mt-2">
                            <i [ngClass]="TC.MODE.chat.info.profile.options[TC.THEME_ACTIVE]"
                                class="material-icons font-size-30px cursor-pointer p-1 border-radius-50 hide-selected right"
                                (click)="hideOrShowOptions(SubMenu2)" (blur)="blurHideOptions(SubMenu2)" tabindex="0"
                                #infoProfileOptions (click)="fixOptionsInfoProfile(infoProfileOptions)">more_vert</i>

                            <!-- Submenu options -->
                            <div [ngClass]="TC.MODE.chat.info.profile.options_submenu[TC.THEME_ACTIVE]"
                                class="col l1 hide-selected mb-0 position-absolute not-visible box-shadow-1 hover-cus-1 cursor-pointer margin-cus-1 "
                                #SubMenu2 (click)="reconectServer()">

                                <!-- Reconnect to socket server -->
                                <div class="row mb-0">
                                    <div class="col l12 mb-0 py-1 center">
                                        <span class="position-relative mr-13 font-cus-1">Reconectar
                                            <i class="material-icons position-absolute green-text">sync</i></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Search contacts -->
                    <div [ngClass]="TC.MODE.chat.info.search_contacts[TC.THEME_ACTIVE]"
                        class="row p-1 mb-0 box-shadow-1">

                        <!-- Input field for search-->
                        <div class="input-field col l9 mb-0">
                            <i [ngClass]="TC.MODE.chat.info.input_search_contacts[TC.THEME_ACTIVE]"
                                class="material-icons prefix">search</i>

                            <input [ngClass]="TC.MODE.chat.info.input_search_contacts[TC.THEME_ACTIVE]"
                                [formControl]="searchFieldCtrl" id="search_input3" type="text"
                                (ngModelChange)="filterContacts($event)" [(ngModel)]="inputFilterContacts"
                                maxlength="70">

                            <label for="search_input3">Buscar contactos</label>
                        </div>

                        <!-- Button add contacts -->
                        <div class="col l3 mb-0 mt-2">
                            <div class="row mb-0">
                                <div class="col l12 mb-0 center">
                                    <button type="button" [ngClass]="TC.MODE.chat.info.btn.bg[TC.THEME_ACTIVE]"
                                        class="btn btn-floating waves-effect "><i
                                            [ngClass]="TC.MODE.chat.info.btn.text_bg[TC.THEME_ACTIVE]"
                                            class="material-icons" (click)="AddContacts()">person_add</i></button>
                                </div>

                                <div [ngClass]="TC.MODE.chat.info.btn.text[TC.THEME_ACTIVE]"
                                    class="col l12 font-family-1 mt-2 center">
                                    Contactos
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ContactsG list -->
                    <div [ngClass]="TC.MODE.chat.info.contact_list[TC.THEME_ACTIVE]"
                        class="row max-min-h-374px mb-0 overflow-y-auto scroll-2 box-shadow-1">
                        <!-- Verify and revise contacts -->
                        <ng-container *ngIf="socketWebSvc.CONTACTS.length >= 1 && !socketWebSvc.loadingGettingContacts">

                            <ng-container *ngFor="let contactG of socketWebSvc.CONTACTS ">

                                <!-- Verify if is a normal contact -->
                                <ng-container *ngIf="contactG.type == 1">
                                    <div [ngClass]="TC.MODE.chat.info.contact_list_friends.bg[TC.THEME_ACTIVE]"
                                        class="col l12 box-shadow-contact cursor-pointer">
                                        <div class="row mb-0">

                                            <!-- Profile img contact -->
                                            <div class="col l2 center py-4 position-relative"
                                                (click)="initChat(contactG.id_contact_g, contactG.type)">

                                                <!-- Img profile contact -->
                                                <img [src]="contactG.photo" alt="img profile"
                                                    class="img-thumbnail border-radius-50 w-h-45px" width="45"
                                                    height="45">

                                                <!-- Alert number messages without read -->
                                                <span class="box-number-message red"
                                                    *ngIf="checkMsgWithoutRead(contactG.id_contact_g, contactG.type) != 0">
                                                    {{checkMsgWithoutRead(contactG.id_contact_g,
                                                    contactG.type) >= 100 ? '99+' :
                                                    checkMsgWithoutRead(contactG.id_contact_g,
                                                    contactG.type)}}</span>
                                            </div>

                                            <!-- Name and latest message -->
                                            <div class="col l7 py-4"
                                                (click)="initChat(contactG.id_contact_g, contactG.type)">

                                                <!-- Name -->
                                                <div class="row mb-0">
                                                    <div class="col l12 font-size-18px pl-0"
                                                        [ngClass]="{'line-heigth-2--7': getLatestMessage(contactG.id_contact_g, contactG.type) == null, 'grey-text text-lighten-3': TC.THEME_ACTIVE == 1}">
                                                        {{contactG.name.length >= 14 ?
                                                        contactG.name.slice(0, 14) + '...' :
                                                        contactG.name}}
                                                    </div>
                                                </div>

                                                <!-- Latest message -->
                                                <div class="row mb-0">
                                                    <div [ngClass]="TC.MODE.chat.info.contact_list_friends.latest_msg[TC.THEME_ACTIVE]"
                                                        class="col l12 font-size-13px pl-0">
                                                        {{getLatestMessage(contactG.id_contact_g, contactG.type)}}
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Options contact -->
                                            <div class="col l3 pt-6 center cursor-normal position-relative">
                                                <div class="row mb-0">
                                                    <div class="col l12 font-weight-100">
                                                        <i [ngClass]="TC.MODE.chat.info.contact_list_friends.options_contact[TC.THEME_ACTIVE]"
                                                            class="material-icons font-size-30px cursor-pointer p-3 border-radius-50 hide-selected center"
                                                            (click)="hideOrShowOptions(SubMenu)"
                                                            (blur)="blurHideOptions(SubMenu)" tabindex="0">
                                                            more_vert
                                                        </i>

                                                        <!-- Submenu options -->
                                                        <div [ngClass]="TC.MODE.chat.info.contact_list_friends.more_options[TC.THEME_ACTIVE]"
                                                            class="col l1 mb-0 position-absolute ml--88 mt--31--4 not-visible box-shadow-1 hover-cus-1 cursor-pointer w-125px"
                                                            #SubMenu
                                                            (click)="deleteContact(contactG.id_contact_g, contactG.type)">

                                                            <!-- Delete contact-->
                                                            <div class="row mb-0">
                                                                <div class="col l12 mb-0 py-1">
                                                                    <span
                                                                        class="position-relative mr-1 font-cus-1">Borrar
                                                                        contacto</span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>

                                <!-- Verify if is a group -->
                                <ng-container *ngIf="contactG.type == 2">
                                    <div [ngClass]="TC.MODE.chat.info.contact_list_friends.bg[TC.THEME_ACTIVE]"
                                        class="col l12 box-shadow-contact cursor-pointer"
                                        (click)="initChat(contactG.id_contact_g, contactG.type)">
                                        <div class="row mb-0">

                                            <!-- Profile img contact -->
                                            <div class="col l2 center py-4 mt-3 position-relative">
                                                <!-- Img profile contact -->
                                                <span
                                                    class="img-thumbnail border-radius-50 w-h-45px">{{contactG.photo}}</span>

                                                <!-- Alert number messages without read -->
                                                <span class="box-number-message red"
                                                    *ngIf="checkMsgWithoutRead(contactG.id_contact_g, contactG.type) != 0">
                                                    {{checkMsgWithoutRead(contactG.id_contact_g,
                                                    contactG.type) >= 100 ? '99+' :
                                                    checkMsgWithoutRead(contactG.id_contact_g,
                                                    contactG.type)}}</span>
                                            </div>

                                            <!-- Name and latest message -->
                                            <div class="col l10 py-4">
                                                <!-- Name -->
                                                <div class="row mb-0">
                                                    <div class="col l12 font-size-18px pl-0"
                                                        [ngClass]="{'line-heigth-2--7': getLatestMessage(contactG.id_contact_g, contactG.type) == null, 'grey-text text-lighten-3': TC.THEME_ACTIVE == 1}">
                                                        <span class="font-weight-600 font-family-1">Grupo
                                                        </span>{{contactG.name.length
                                                        >= 14 ?
                                                        contactG.name.slice(0, 14) + '...' :
                                                        contactG.name
                                                        }}
                                                    </div>
                                                </div>

                                                <!-- Latest message -->
                                                <div class="row mb-0" *ngIf="true">
                                                    <div [ngClass]="TC.MODE.chat.info.contact_list_friends.latest_msg[TC.THEME_ACTIVE]"
                                                        class="col l12 font-size-13px pl-0">
                                                        {{getLatestMessage(contactG.id_contact_g, contactG.type)}}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </ng-container>

                        <!-- Verify if not contacts -->
                        <ng-container
                            *ngIf="socketWebSvc.CONTACTS.length == 0 && !socketWebSvc.loadingGettingContacts && inputFilterContacts.length == 0">
                            <div [ngClass]="TC.MODE.chat.info.contact_list_friends.not_contact_group[TC.THEME_ACTIVE]"
                                class="col l12 center mt-4">
                                No tienes contactos y no estas en grupos
                            </div>
                        </ng-container>

                        <!-- Verify if not results in filter -->
                        <ng-container *ngIf="inputFilterContacts.length >= 1 && socketWebSvc.CONTACTS.length == 0">
                            <div [ngClass]="TC.MODE.chat.info.contact_list_friends.not_found_search[TC.THEME_ACTIVE]"
                                class="col l12 center mt-4 break-word">
                                No tienes contactos con nombres <b>{{inputFilterContacts}}</b>.
                            </div>
                        </ng-container>

                        <!-- Loading -->
                        <ng-container *ngIf="socketWebSvc.loadingGettingContacts">
                            <div class="col l12 center mt-4">
                                <div class="loading-1 black-text">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>

                <!-- Init. information -->
                <div class="col l7 max-min-h-510px ">

                    <!-- Bg fix color opacity -->
                    <div [ngClass]="TC.MODE.chat.view_init.img_bg[TC.THEME_ACTIVE]" class="row mb-0 ml-0 box-shadow-1"
                        [ngStyle]="{'opacity': opacityView}">
                        <div class="col l12 max-min-h-510px box-shadow-1">

                            <!-- View init box -->
                            <ng-container *ngIf="!isChatting && !isAddingContacts">
                                <div class="row mb-0">
                                    <div class="col l12">

                                    </div>
                                </div>
                            </ng-container>

                            <!-- Adding contacts -->
                            <ng-container *ngIf="!isChatting && isAddingContacts">
                                <div class="row mb-0">
                                    <div [ngClass]="TC.MODE.chat.add_contacts.bg[TC.THEME_ACTIVE]"
                                        class="col l12 max-min-h-510px">

                                        <!-- Title add contacts -->
                                        <div class="row mb-0">
                                            <div class="col l12 center">
                                                <h5 [ngClass]="TC.MODE.chat.add_contacts.title[TC.THEME_ACTIVE]"
                                                    class="font-family-1">Agregar contactos</h5>
                                            </div>
                                        </div>

                                        <!-- Search input -->
                                        <div class="row mb-0">
                                            <div class="col l12">
                                                <div class="input-field">
                                                    <i [ngClass]="TC.MODE.chat.add_contacts.input.prefix[TC.THEME_ACTIVE]"
                                                        class="material-icons prefix">search</i>
                                                    <input #input2 id="search_input2" type="text"
                                                        [ngClass]="TC.MODE.chat.add_contacts.input.field[TC.THEME_ACTIVE]"
                                                        maxlength="30" (ngModelChange)="searchingContacts($event)"
                                                        [(ngModel)]="inputSearchContacts">
                                                    <label for="search_input2">Buscar usuarios</label>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- List users -->
                                        <div class="row mb-0">
                                            <div
                                                class="col l12 px-10 break-word overflow-y-auto max-min-h-365px scroll-1">
                                                <!-- Verify if result search contacts exist-->
                                                <ng-container
                                                    *ngIf="resultSearchContacts != null && !loadingSearchingContacts">
                                                    <ng-container
                                                        *ngIf="resultSearchContacts.users.length >= 1 && !loadingSearchingContacts && inputSearchContacts.length >= 1">

                                                        <!-- Revise result search contacts -->
                                                        <ng-container *ngFor="let user of resultSearchContacts.users">
                                                            <div class="row">
                                                                <div class="col l12 mb-0 box-shadow-contact">

                                                                    <!-- Img profile user -->
                                                                    <div class="col l2 center py-cus-1">
                                                                        <img [src]="user.photo"
                                                                            class="img-thumbnail border-radius-50 w-h-45px"
                                                                            [alt]="user.name">
                                                                    </div>

                                                                    <!-- Name profile user -->
                                                                    <div [ngClass]="TC.MODE.chat.add_contacts.name[TC.THEME_ACTIVE]"
                                                                        class="col l8 font-size-18px pl-0 py-4 line-heigth-2">
                                                                        {{user.name}}
                                                                    </div>

                                                                    <!-- Options profile user -->
                                                                    <div class="col l2 py-4 center">
                                                                        <button type="button"
                                                                            [ngClass]="TC.MODE.chat.add_contacts.btn.btn_add[TC.THEME_ACTIVE]"
                                                                            class="btn waves-effect waves-light blue center"
                                                                            *ngIf="!areFriendsDraw(user.id)">
                                                                            <i class="material-icons font-size-25px"
                                                                                (click)="AddActionContacts(user.id)">add</i>
                                                                        </button>

                                                                        <button type="button"
                                                                            [ngClass]="TC.MODE.chat.add_contacts.btn.btn_delete[TC.THEME_ACTIVE]"
                                                                            class="btn cursor-normal green center"
                                                                            *ngIf="areFriendsDraw(user.id)">
                                                                            <i
                                                                                class="material-icons font-size-25px">people</i>
                                                                        </button>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </ng-container>

                                                    </ng-container>
                                                </ng-container>

                                                <!-- Verify if result search contacts is not empty -->
                                                <ng-container
                                                    *ngIf="resultSearchContacts != null && inputSearchContacts.trim().length >= 1 && !loadingSearchingContacts">
                                                    <ng-container *ngIf="resultSearchContacts.users.length == 0">
                                                        <div class="row">
                                                            <div [ngClass]="TC.MODE.chat.add_contacts.not_found_search[TC.THEME_ACTIVE]"
                                                                class="col l12 center">
                                                                No se ha encontrado usuarios con nombres
                                                                <b>{{inputSearchContacts}}</b>.
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </ng-container>

                                                <!-- Loading  -->
                                                <div class="row mb-0" *ngIf="loadingSearchingContacts">
                                                    <div class="col l12 center">
                                                        <div class="loading-1 black-text">
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </ng-container>

                            <!-- Chats View -->
                            <ng-container *ngIf="isChatting && !isAddingContacts">

                                <!-- profile info message -->

                                <!-- Verify if type contact is one-one -->
                                <ng-container *ngIf="socketWebSvc.infoSentMessage.typeMessage == 1">
                                    <div [ngClass]="TC.MODE.chat.messages.bg_profile[TC.THEME_ACTIVE]"
                                        class="row p-1 mb-0">

                                        <!-- profile img message and name -->
                                        <div class="col l9">

                                            <div class="row mb-0">
                                                <!-- Profile img -->
                                                <div class="col l2 center">
                                                    <img [src]="socketWebSvc.infoSentMessage.subject.photo"
                                                        alt="img profile"
                                                        class="img-thumbnail border-radius-50 w-h-45px" width="45"
                                                        height="45">
                                                </div>

                                                <!-- Profile name -->
                                                <div [ngClass]="TC.MODE.chat.messages.name[TC.THEME_ACTIVE]"
                                                    class="col l10 py-3 pl-0 font-weight-500">
                                                    {{socketWebSvc.infoSentMessage.subject.name.length >= 40 ?
                                                    socketWebSvc.infoSentMessage.subject.name.slice(0, 40)+ '...' :
                                                    socketWebSvc.infoSentMessage.subject.name}}
                                                </div>
                                            </div>

                                        </div>

                                        <!-- options message -->
                                        <div class="col l3 mt-1">
                                            <i [ngClass]="TC.MODE.chat.messages.clean_chat[TC.THEME_ACTIVE]"
                                                class="material-icons font-size-30px cursor-pointer p-3 border-radius-50 hide-selected right"
                                                (click)="hideOrShowOptions(SubMenu3)" (blur)="blurHideOptions(SubMenu3)"
                                                tabindex="0">more_vert</i>

                                            <!-- Submenu options -->
                                            <div [ngClass]="TC.MODE.chat.messages.clean_chat_submenu[TC.THEME_ACTIVE]"
                                                class="col l1 mb-0 position-absolute not-visible box-shadow-1 hover-cus-1 cursor-pointer margin-cus-2"
                                                #SubMenu3
                                                (click)="cleanChat(socketWebSvc.infoSentMessage.subject.id_subject, socketWebSvc.infoSentMessage.typeMessage)">

                                                <!-- Delete contact-->
                                                <div class="row mb-0">
                                                    <div class="col l12 mb-0 py-1 center">
                                                        <span class="position-relative mr-13 font-cus-1">Limpiar chat
                                                            <i
                                                                class="material-icons position-absolute red-text">delete_forever</i></span>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </ng-container>

                                <!-- Verify if type contact is a group -->
                                <ng-container *ngIf="socketWebSvc.infoSentMessage.typeMessage == 2">
                                    <div [ngClass]="TC.MODE.chat.messages.bg_profile[TC.THEME_ACTIVE]"
                                        class="row p-1 mb-0 max-min-h-60px">

                                        <!-- profile img message -->
                                        <div class="col l9">
                                            <div class="row mb-0">
                                                <!-- Profile img -->
                                                <div class="col l2 mt-3 center">
                                                    <span
                                                        class="img-thumbnail border-radius-50 w-h-45px">{{socketWebSvc.infoSentMessage.subject.photo}}</span>
                                                </div>

                                                <div [ngClass]="TC.MODE.chat.messages.name[TC.THEME_ACTIVE]"
                                                    class="col l10 py-3 pl-0 font-weight-500">
                                                    {{socketWebSvc.infoSentMessage.subject.name.length >= 40 ?
                                                    socketWebSvc.infoSentMessage.subject.name.slice(0, 40)+'...' :
                                                    socketWebSvc.infoSentMessage.subject.name}}
                                                </div>
                                            </div>
                                        </div>

                                        <!-- options message -->
                                        <div class="col l3 mt-1">
                                            <i [ngClass]="TC.MODE.chat.messages.clean_chat[TC.THEME_ACTIVE]"
                                                class="material-icons font-size-30px cursor-pointer p-3 border-radius-50 hide-selected right"
                                                (click)="hideOrShowOptions(SubMenu4)" (blur)="blurHideOptions(SubMenu4)"
                                                tabindex="0">more_vert</i>

                                            <!-- Submenu options -->
                                            <div [ngClass]="TC.MODE.chat.messages.clean_chat_submenu[TC.THEME_ACTIVE]"
                                                class="col l1 mb-0 position-absolute not-visible box-shadow-1 hover-cus-1 cursor-pointer margin-cus-2"
                                                #SubMenu4
                                                (click)="cleanChat(socketWebSvc.infoSentMessage.subject.id_subject, socketWebSvc.infoSentMessage.typeMessage)">

                                                <!-- Delete contact-->
                                                <div class="row mb-0">
                                                    <div class="col l12 mb-0 py-1 center">
                                                        <span class="position-relative mr-13 font-cus-1">Limpiar chat
                                                            <i
                                                                class="material-icons position-absolute red-text">delete_forever</i></span>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </ng-container>

                                <!-- Box messages -->
                                <div class="row mb-0">
                                    <div class="col l12 max-min-h-390px overflow-y-auto scroll-1" SetLocationScroll>
                                        <!-- Verify if chat view and find chats -->
                                        <ng-container
                                            *ngIf="socketWebSvc.infoSentMessage.subject.id_subject >= 0 && getMessages().length >= 1">
                                            <!-- Verify if group or one-one -->

                                            <!-- One-One -->
                                            <ng-container *ngIf="socketWebSvc.infoSentMessage.typeMessage == 1">
                                                <!-- Revise chats -->
                                                <ng-container *ngFor="let chat of getMessages()">

                                                    <!-- Chat receptor -->
                                                    <ng-container *ngIf="chat.by_me == false">
                                                        <div class="row mb-0 py-2">

                                                            <!-- Img profile receptor -->
                                                            <div class="col l2 center">
                                                                <img [src]="chat.subject.photo" alt="img profile"
                                                                    class="img-thumbnail border-radius-50 w-h-45px"
                                                                    width="45" height="45">
                                                            </div>

                                                            <!-- chat message receptor -->
                                                            <div class="col l8 pl-0">
                                                                <div [ngClass]="TC.MODE.chat.messages.chat_one.bubble_left[TC.THEME_ACTIVE]"
                                                                    class="talk-bubble tri-right mt-4 left">
                                                                    <div [ngClass]="TC.MODE.chat.messages.chat_one.msg[TC.THEME_ACTIVE]"
                                                                        class="talktext">
                                                                        <p class="break-word">
                                                                            {{chat.text}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col l2">
                                                                <!-- Empty for space -->
                                                            </div>
                                                        </div>
                                                    </ng-container>

                                                    <!-- Chat emisor -->
                                                    <ng-container *ngIf="chat.by_me == true">
                                                        <div class="row mb-0 py-2">

                                                            <div class="col l2">
                                                                <!-- Empty for space -->
                                                            </div>

                                                            <!-- chat message emisor -->
                                                            <div class="col l8 pr-0">
                                                                <div [ngClass]="TC.MODE.chat.messages.chat_one.bubble_right[TC.THEME_ACTIVE]"
                                                                    class="talk-bubble tri-right mt-4 right">
                                                                    <div [ngClass]="TC.MODE.chat.messages.chat_one.msg[TC.THEME_ACTIVE]"
                                                                        class="talktext">
                                                                        <p class="break-word">
                                                                            {{chat.text}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Img profile emisor -->
                                                            <div class="col l2 center">
                                                                <img [src]="infoProfile.photo" alt="img profile"
                                                                    class="img-thumbnail border-radius-50 w-h-45px"
                                                                    width="45" height="45">
                                                            </div>

                                                        </div>
                                                    </ng-container>

                                                </ng-container>
                                            </ng-container>

                                            <!-- Group -->
                                            <ng-container *ngIf="socketWebSvc.infoSentMessage.typeMessage == 2">
                                                <!-- Revise chats -->
                                                <ng-container *ngFor="let chat of getMessages()">

                                                    <!-- Chat receptor -->
                                                    <ng-container *ngIf="chat.by_me == false">
                                                        <div class="row mb-0 py-2">
                                                            <!-- Image and name of profile receptor -->
                                                            <div class="col l2 center">
                                                                <!-- Image -->
                                                                <div class="row mb-0">
                                                                    <div class="col l12">
                                                                        <img [src]="chat.subject.photo"
                                                                            alt="img profile"
                                                                            class="img-thumbnail border-radius-50 w-h-45px"
                                                                            width="45" height="45">
                                                                    </div>
                                                                </div>

                                                                <!-- Name -->
                                                                <div class="row mb-00">
                                                                    <div class="col l12 font-family-1 font-weight-600"
                                                                        [title]="chat.subject.name">
                                                                        {{chat.subject.name.length >= 10
                                                                        ?
                                                                        chat.subject.name.slice(0, 6) + '...' :
                                                                        chat.subject.name}}
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- chat message receptor -->
                                                            <div class="col l8 pl-0">
                                                                <div [ngClass]="TC.MODE.chat.messages.chat_one.bubble_left[TC.THEME_ACTIVE]"
                                                                    class="talk-bubble tri-right mt-4 left">
                                                                    <div [ngClass]="TC.MODE.chat.messages.chat_one.msg[TC.THEME_ACTIVE]"
                                                                        class="talktext">
                                                                        <p class="break-word">
                                                                            {{chat.text}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col l2">
                                                                <!-- Empty for space -->
                                                            </div>
                                                        </div>
                                                    </ng-container>

                                                    <!-- Chat emisor -->
                                                    <ng-container *ngIf="chat.by_me == true">
                                                        <div class="row mb-0 py-2">

                                                            <div class="col l2">
                                                                <!-- Empty for space -->
                                                            </div>

                                                            <!-- chat message emisor -->
                                                            <div class="col l8 pr-0">
                                                                <div [ngClass]="TC.MODE.chat.messages.chat_one.bubble_right[TC.THEME_ACTIVE]"
                                                                    class="talk-bubble tri-right mt-4 right">
                                                                    <div [ngClass]="TC.MODE.chat.messages.chat_one.msg[TC.THEME_ACTIVE]"
                                                                        class="talktext">
                                                                        <p class="break-word">
                                                                            {{chat.text}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- Img profile emisor -->
                                                            <div class="col l2 center">
                                                                <img [src]="infoProfile.photo" alt="img profile"
                                                                    class="img-thumbnail border-radius-50 w-h-45px"
                                                                    width="45" height="45">
                                                            </div>

                                                        </div>
                                                    </ng-container>

                                                </ng-container>
                                            </ng-container>
                                        </ng-container>

                                    </div>
                                </div>

                                <!-- Input field message -->
                                <div class="row mb-0">
                                    <div [ngClass]="TC.MODE.chat.messages.input_field[TC.THEME_ACTIVE]"
                                        class="col l12 max-min-h-60px">
                                        <div class="row mb-0">

                                            <!-- Input -->
                                            <div class="col l10">
                                                <input type="text"
                                                    [ngClass]="TC.MODE.chat.messages.input_field_entry[TC.THEME_ACTIVE]"
                                                    placeholder="Escribe un mensaje" [(ngModel)]="inputFieldMessage"
                                                    (keypress)="$event.keyCode == 13 ? sendMessage() : null" #input1
                                                    maxlength="249">
                                            </div>

                                            <!-- Button message -->
                                            <div class="col l2 py-2 center-align">
                                                <button class="btn blue waves-effect waves-light"
                                                    (click)="sendMessage()"
                                                    [disabled]="!(inputFieldMessage.trim().length >=1)">
                                                    <i class="material-icons">send</i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>