@import url("https://fonts.googleapis.com/css2?family=Newsreader&display=swap");

.font-family-1 {
  font-family: "Newsreader", serif;
}

.font-size-30px {
  font-size: 30px;
}

.line-heigth-1--7 {
  line-height: 1.7;
}

.font-size-34px {
  font-size: 34px;
}

.line-heigth-2 {
  line-height: 2;
}

.max-min-h-374px {
  min-height: 374px;
  max-height: 374px;
}

.max-min-h-385px {
  min-height: 385px;
  max-height: 385px;
}

.max-min-h-510px {
  min-height: 510px;
  max-height: 510px;
}

.bg-img-1 {
  /* Vector de Agua creado por macrovector - www.freepik.es */
  background: url("https://www.dropbox.com/s/o52p7zqcbwctjvi/bg-img-chat.png?dl=1");
}

.font-size-13px {
  font-size: 13px;
}

.font-size-18px {
  font-size: 18px;
}

.box-number-message {
  position: absolute;
  margin-left: -16%;
  min-height: 1.15rem !important;
  min-width: 1.15rem !important;
  font-size: 0.8rem;
  color: white;
  border-radius: 50%;
  border: 1px solid #fafafa;
}

.hover-contact:hover {
  background-color: #e0e0e0 !important;
  transition: all 0.2s ease-in-out;
}

.line-heigth-3 {
  line-height: 3;
}

.max-min-h-60px {
  max-height: 60px;
  min-height: 60px;
}

/* TEST CHAT STYLE */

/* CSS talk bubble */
.talk-bubble {
  display: inline-block;
  position: relative;
  width: 70%;
  height: auto;
  background-color: lightyellow;
}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: lightyellow transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: lightyellow lightyellow transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -8px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 32px solid;
  border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 22px solid;
  border-color: transparent transparent transparent lightyellow;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 12px solid;
  border-color: lightyellow transparent transparent lightyellow;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 30px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 38px;
  bottom: -20px;
  border: 12px solid;
  border-color: lightyellow lightyellow transparent transparent;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -8px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 0px;
  bottom: -20px;
  border: 12px solid;
  border-color: lightyellow lightyellow transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: lightyellow transparent transparent lightyellow;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 0px;
  bottom: auto;
  border: 20px solid;
  border-color: lightyellow transparent transparent transparent;
}

/* talk bubble contents */
.talktext {
  padding: 3%;
  text-align: left;
  line-height: 1.5em;
}
.talktext p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.w-h-45px {
  width: 45px;
  height: 45px;
}

.line-heigth-2--7 {
  line-height: 2.7;
}

.py-cus-1 {
  padding-top: 3%;
  padding-bottom: 2.4%;
}

.max-min-h-365px {
  min-height: 365px;
  max-height: 365px;
}

.font-size-25px {
  font-size: 25px;
}

.ml--88 {
  margin-left: -88% !important;
}

.mt--31--4 {
  margin-top: -31.4% !important;
}

.hover-more-options:hover {
  background-color: #bdbdbd;
}

.mr-13 {
  margin-right: 13%;
}

.font-cus-1 {
  font-size: 14px;
  font-weight: 500;
}

.hover-cus-1:hover {
  background-color: #c5cae9 !important;
}

.margin-cus-1 {
  margin-left: 3.4% !important;
  margin-top: 0.3% !important;
}

.margin-cus-2 {
  margin-left: -1.5% !important;
  margin-top: 0.5% !important;
}

.w-125px {
  width: 125px !important;
}
