<footer [ngClass]="TC.MODE.nav_footer[TC.THEME_ACTIVE]" class="page-footer pt-0">
    <!-- <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Callenbell</h5>
        <p class="grey-text text-lighten-4">Cotenido de footer</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Términos y condiciones</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Política de cookies</a></li>
        </ul>
      </div>
    </div>
  </div> -->

    <div class="footer-copyright">
        <div class="container center">
            © 2021 Copyright Calenbell | Design By JED Team
        </div>
    </div>

</footer>