<footer class="page-footer blue darken-4">
  <!-- <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Callenbell</h5>
        <p class="grey-text text-lighten-4">Cotenido de footer</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Términos y condiciones</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Política de cookies</a></li>
        </ul>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col s12">
      <div class="footer-copyright">
        <div class="container">
          © 2021 Copyright Calenbell | Design By JED Team
          <a class="grey-text text-lighten-4 right" href="#!">About us</a>
        </div>
      </div>
    </div>
  </div>

</footer>
