<div class="row" [ngStyle]="{'opacity': opacityView}">
    <div class="cap z-index---1">&nbsp;</div>
    <div class="section">
        <div class="col l10 offset-l1">
            <div class="row padding-fixed-3">
                <div class="section">
                    <div class="col l5 offset-l1 center"><img
                            src="https://www.dropbox.com/s/r1l75ts8pww7qb5/image.png?dl=1" width="350" height="350"
                            (mousedown)="false">

                    </div>
                    <div class="col l5 center">
                        <div class="padding-fixed-1 font-size-1 grey-text text-lighten-5" (mousedown)="false">¿Tienes
                            muchos pendientes que
                            hacer y se te olvida uno
                            que otro?
                        </div>
                        <h5 class="padding-fixed-2 grey-text text-lighten-5" (mousedown)="false">Prueba nuestra agenda
                            en línea <span class="font-weight-500">Calenbell</span> y rápidamente refresca tu mente!
                        </h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>