<div class="row" [ngStyle]="{'opacity': opacityView}">
    <div class="cap z-index---1">&nbsp;</div>
    <div class="section">
        <div class="col l10 offset-l1">
            <div class="row padding-fixed-3">
                <div class="section">
                    <div class="col l5 offset-l1 center"><img
                            src="https://w7.pngwing.com/pngs/983/473/png-transparent-school-bell-cartoon-bell-s-automotive-design-symbol-school-bell.png"
                            alt="https://www.pngwing.com/es/free-png-bcspy" width="350" height="350">

                    </div>
                    <div class="col l5 center">
                        <div class="padding-fixed-1 font-size-1 grey-text text-lighten-5">¿Tienes muchos pendientes que
                            hacer y se te olvida uno
                            que otro?
                        </div>
                        <h5 class="padding-fixed-2 grey-text text-lighten-5">Prueba nuestra agenda en línea <span
                                class="font-weight-500">Calenbell</span> y rápidamente refresca tu mente!</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>