.validSelect{
    border-bottom: 2px solid #4caf50 !important;
}
.invalidSelect{
    border-bottom: 2px solid #f44336 !important;
}

.color-invalid {
    color: #f44336 !important;
}

.color-valid {
    color: #4caf50 !important;
}

.color-valid-dark {
color: #e0e0e0 !important;
}

.emojis-box{
    position: absolute;
	margin-top: 16%;
    border-radius: 10px;
    max-height: 150px;
    min-height: 150px;
    max-width: 200px;
    min-width: 200px;
    margin-left: -60%;
    z-index: 1000;
}

.max-h-100px{
    max-height: 100px;
    min-height: 100px;
}

.emoji{
    max-height: 15px;
    min-height: 15px;
    max-width: 15px;
    min-width: 15px;
    border: black solid 1px;
    border-radius: 50%;
    padding: 2px;
    font-size: 15px !important;
}

.max-w-193px{
    min-width: 193px;
    max-width: 193px;
}

.mt-1px{
    margin-top: 1px;
}

.style-cus-1{
    margin-top: 6px !important;
    margin-right: 9px;
    display: inline-table;
}

/* Box floating emojis */

.active-emojis-box > .emojis-box-floating {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}
.active-emojis-box:hover > .emojis-box-floating {
	visibility: visible;
	opacity: 1;
	position: absolute;
	transition-delay: 0s;
}

.mode-edit{
    position: absolute;
    top: -15px;
    font-size: 0.8rem;
    left: 44px;
    color: #9e9e9e;
}

.mode-edit-emoji {
    position: absolute;
    top: -9px;
    font-size: 0.8rem;
    left: 44px;
    color: #9e9e9e;
}

.max-min-150px {
    min-height: 150px;
    max-height: 150px;
}

.w-340px {
    width: 340px;
}


.z-index-10000 {
    z-index: 10000 !important;
}

.box-contacts{
	position: absolute;
	margin-top: -16%;
    max-height: 150px;
    min-height: 150px;
    max-width: 298px;
    min-width: 298px;
    margin-left: 13.2%;
    z-index: 1000;
}

.w-h-40px {
    width: 40px !important;
    height: 40px !important;
}

.box-shadow-contact {
    box-shadow: 0 0px 0px 0 rgb(0 0 0 / 14%), 0 3px 0px -6px rgb(0 0 0 / 12%), 0 1px 0px 0 rgb(0 0 0 / 20%);
}

.mt-4px {
    margin-top: 4px;
}

.mt-8px{
    margin-top: 8px;
}

.mt-4--3 {
    margin-top: 4.3%;
}

.mt-13 {
    margin-top: 13%;
}

.box-exit {
    margin-left: 102%;
    margin-top: -16%;
}

input.valid-dark:not([type]), input.valid-dark:not([type]):focus, input.valid-dark[type=text]:not(.browser-default), input.valid-dark[type=text]:not(.browser-default):focus, input.valid-dark[type=password]:not(.browser-default), input.valid-dark[type=password]:not(.browser-default):focus, input.valid-dark[type=email]:not(.browser-default), input.valid-dark[type=email]:not(.browser-default):focus, input.valid-dark[type=url]:not(.browser-default), input.valid-dark[type=url]:not(.browser-default):focus, input.valid-dark[type=time]:not(.browser-default), input.valid-dark[type=time]:not(.browser-default):focus, input.valid-dark[type=date]:not(.browser-default), input.valid-dark[type=date]:not(.browser-default):focus, input.valid-dark[type=datetime]:not(.browser-default), input.valid-dark[type=datetime]:not(.browser-default):focus, input.valid-dark[type=datetime-local]:not(.browser-default), input.valid-dark[type=datetime-local]:not(.browser-default):focus, input.valid-dark[type=tel]:not(.browser-default), input.valid-dark[type=tel]:not(.browser-default):focus, input.valid-dark[type=number]:not(.browser-default), input.valid-dark[type=number]:not(.browser-default):focus, input.valid-dark[type=search]:not(.browser-default), input.valid-dark[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid-dark, textarea.materialize-textarea.valid-dark:focus, .select-wrapper.valid-dark > input.select-dropdown, .select-wrapper.valid-dark > input.select-dropdown:focus {
    border-bottom: 1px solid #eeeeee ;
    box-shadow: 0 1px 0 0 #e0e0e0 ;
}