<div class="section overflow-hidden">
    <div class="row">
        <div class="col l3">
            <app-aside-info></app-aside-info>
        </div>
        <div class="col l6">

            <div class="row">
                <div class="col l12 center">
                    <div class="row">
                        <div class="col l12">
                            <div class="input-field">
                                <i class="material-icons prefix">search</i>
                                <input type="text" class="" [(ngModel)]="inputSearchValue"
                                    (ngModelChange)="searchEvents(inputSearchValue)" maxlength="250">
                                <label for="icon_prefix">Buscar eventos</label>

                                <a routerLink="/controlevento"
                                    class="btn-floating btn-small waves-effect waves-light left mt-2 cyan darken-4 mr-4"><i
                                        class="material-icons">add</i></a>
                                <button class="waves-effect waves-light btn left mt-2 cyan lighten-1 mr-4"
                                    [disabled]="eventsSelected.length != 1 || loading" (click)="editEvent()"><i
                                        class="material-icons left">assignment</i>Editar</button>
                                <button class="waves-effect waves-light btn left mt-2 red"
                                    [disabled]="eventsSelected.length <= 0  || loading" (click)="deleteEvents()"><i
                                        class="material-icons left ">cancel</i>Borrar</button>
                            </div>
                        </div>
                    </div>
                    <div class="max-h-301px overflow-auto scroll-1 box-shadow-1" GetSizeScroll>
                        <table class="white border-radius-5px position-relative">
                            <ng-container *ngIf="eventsRequest.length >= 1 && !loading">
                                <thead>
                                    <tr>
                                        <th class="pl-2 red-text darken-1 text-center p-cus-1"><span
                                                *ngIf="!checkBoxSelectAll && this.eventsSelected.length != 0"
                                                (click)="selectAllCheckboxes()"
                                                class="cursor-pointer">{{eventsSelected.length}}</span>
                                            <span
                                                *ngIf="eventsSelected.length == eventsRequest.length || this.eventsSelected.length == 0"><label><input
                                                        type="checkbox" class="checkbox-cus-1"
                                                        (click)="checkBoxSelectAllClick()"
                                                        [(ngModel)]="checkBoxSelectAll "><span></span></label></span>
                                        </th>
                                        <th>Título</th>
                                        <th>Hora</th>
                                        <th>Fecha</th>
                                        <th>Descripción</th>
                                        <th class="text-center">Ícono</th>
                                    </tr>
                                </thead>
                            </ng-container>

                            <!--Not found events request-->
                            <ng-container *ngIf="eventsRequest.length == 0 && !loading && eventsBackup.length == 0">
                                <thead>
                                    <tr>
                                        <th class="text-center">No hay eventos que mostrar</th>
                                    </tr>
                                </thead>
                            </ng-container>

                            <!--Not found events filtered header-->
                            <ng-container
                                *ngIf="inputSearchValue.length > 0 && !loading && eventsBackup.length > 0 && eventsRequest.length == 0">
                                <thead class="break-word">
                                    <tr>
                                        <th class="text-center">No se encontraron resultados para
                                            <i>{{inputSearchValue}}.</i>
                                        </th>
                                    </tr>
                                </thead>
                            </ng-container>

                            <tbody>

                                <ng-container *ngIf="eventsRequest.length > 0 && !loading">

                                    <ng-container *ngFor="let item of eventsRequest | slice:0:lazyLoadCharge">
                                        <tr class="nth-child-cus-1 hover-cus-1 cursor-pointer">
                                            <td class="center"><label>
                                                    <input type="checkbox" (click)="checkBoxClick(item.id)"
                                                        [(ngModel)]="item.check">
                                                    <span> </span>
                                                </label></td>

                                            <td *ngIf="item.title.length > 15" [title]="item.title">
                                                {{item.title.slice(0,
                                                15)+"..."}}</td>
                                            <td *ngIf="item.title.length <= 15" [title]="item.title">
                                                {{item.title}}</td>

                                            <td>{{item.hour}}</td>

                                            <td>{{item.day}}/{{item.month}}/{{item.year}}</td>

                                            <td *ngIf="item.description.length >= 22" [title]="item.description">
                                                {{item.description.slice(0,
                                                22)+"..."}}</td>
                                            <td *ngIf="item.description.length <= 21" [title]="item.description">
                                                {{item.description}}</td>

                                            <td class="text-center">{{item.icon.length > 0
                                                ? item.icon : 'Sin ícono'}}
                                            </td>
                                        </tr>
                                    </ng-container>

                                </ng-container>

                            </tbody>
                        </table>
                        <div class="progress" *ngIf="eventsRequest.length == 0 && loading">
                            <div class="indeterminate"></div>
                        </div>
                    </div>

                    <div class="progress" *ngIf="eventsRequest.length > 0 && loading">
                        <div class="indeterminate"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col l3">
            <app-aside-info-event></app-aside-info-event>
        </div>
    </div>
</div>