<app-nav></app-nav>

<div class="section overflow-hidden">
    <div class="row">
        <div class="col l3">
            <app-aside-info></app-aside-info>
        </div>
        <div class="col l6">

            <div class="row">
                <div class="col l12 center">
                    <div class="row">
                        <div class="col l12">
                            <div class="input-field">
                                <i class="material-icons prefix">search</i>
                                <input type="text" class="validate">
                                <label for="icon_prefix">Search</label>

                                <a routerLink="/crearevento"
                                    class="btn-floating btn-small waves-effect waves-light left mt-2 cyan darken-4 mr-4"><i
                                        class="material-icons">add</i></a>
                                <button class="waves-effect waves-light btn left mt-2 cyan lighten-1 mr-4"
                                    [disabled]="true"><i class="material-icons left">assignment</i>Editar</button>
                                <button class="waves-effect waves-light btn left mt-2 red" [disabled]="true"><i
                                        class="material-icons left ">cancel</i>Borrar</button>
                            </div>
                        </div>
                    </div>
                    <div class="max-h-301px overflow-auto scroll-1 box-shadow-1" GetSizeScroll>
                        <table class="white border-radius-5px position-relative b">
                            <ng-container *ngIf="eventsRequest.length >=1 && !loading">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>titulo</th>
                                        <th>hora</th>
                                        <th>Fecha</th>
                                        <th>Descripcion</th>
                                    </tr>
                                </thead>
                            </ng-container>

                            <ng-container *ngIf="eventsRequest.length == 0 && !loading">
                                <thead>
                                    <tr>
                                        <th class="text-center">No hay eventos que mostrar</th>
                                    </tr>
                                </thead>
                            </ng-container>

                            <tbody>

                                <ng-container *ngIf="eventsRequest.length >= 1">
                                    <ng-container
                                        *ngFor="let item of eventsRequest.slice().reverse() | slice:0:lazyLoadCharge">
                                        <tr>
                                            <td class="center"><label>
                                                    <input type="checkbox" />
                                                    <span> </span>
                                                </label></td>
                                            <td *ngIf="item.title.length > 15" [title]="item.title">
                                                {{item.title.slice(0,
                                                15)+"..."}}</td>
                                            <td *ngIf="item.title.length <= 15" [title]="item.title">
                                                {{item.title}}</td>
                                            <td>{{item.hour}}</td>
                                            <td>{{item.day <= 9 ? "0" +item.day.toString() : item.day}}/{{item.month <=9
                                                    ? "0" +item.month : item.month}}/{{item.year}}</td>
                                            <td *ngIf="item.description.length >= 22" [title]="item.description">
                                                {{item.description.slice(0,
                                                22)+"..."}}</td>
                                            <td *ngIf="item.description.length <= 21" [title]="item.description">
                                                {{item.description}}</td>
                                        </tr>
                                    </ng-container>
                                </ng-container>

                            </tbody>
                        </table>
                        <div class="progress" *ngIf="eventsRequest.length == 0 && loading">
                            <div class="indeterminate"></div>
                        </div>
                    </div>
                    <div class="progress" *ngIf="eventsRequest.length >= 1&& loading">
                        <div class="indeterminate"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col l3">
            <app-aside-info-event></app-aside-info-event>
        </div>
    </div>
</div>

<app-footer></app-footer>