<div [ngClass]="TC.MODE.bg_general[TC.THEME_ACTIVE]" class="section overflow-hidden h-100">
    <div class="row">
        <div class="col l3">
            <app-aside-info></app-aside-info>
        </div>
        <div class="col l6">

            <div class="row">
                <div class="col l12 center">
                    <div class="row">
                        <div class="col l12">
                            <div class="input-field">
                                <i [ngClass]="TC.MODE.input_search.prefix[TC.THEME_ACTIVE]"
                                    class="material-icons prefix">search</i>

                                <input type="text" [ngClass]="TC.MODE.input_search.input[TC.THEME_ACTIVE]"
                                    [(ngModel)]="inputSearchValue" (ngModelChange)="searchEvents(inputSearchValue)"
                                    maxlength="250">

                                <label for="icon_prefix">Buscar eventos</label>

                                <a routerLink="/controlevento"
                                    [ngClass]="TC.MODE.options_table.btn_add[TC.THEME_ACTIVE]"
                                    class="btn-floating btn-small waves-effect waves-light left mt-2 mr-4"><i
                                        class="material-icons">add</i></a>

                                <button type="button" class="waves-effect waves-light btn left mt-2 cyan lighten-1 mr-4"
                                    [disabled]="eventsSelected.length != 1 || loading" (click)="editEvent()"><i
                                        class="material-icons left">assignment</i>Editar</button>
                                <button type="button" class="waves-effect waves-light btn left mt-2 red"
                                    [disabled]="eventsSelected.length <= 0  || loading" (click)="deleteEvents()"><i
                                        class="material-icons left ">cancel</i>Borrar</button>
                            </div>
                        </div>
                    </div>

                    <div class="max-h-301px overflow-auto scroll-1 box-shadow-1" GetSizeScroll>
                        <table [ngClass]="TC.MODE.table.bg[TC.THEME_ACTIVE]"
                            class="border-radius-5px position-relative">
                            <ng-container *ngIf="eventsRequest.length >= 1 && !loading">
                                <thead>
                                    <tr>
                                        <th class="pl-2 red-text darken-1 text-center p-cus-1"><span
                                                *ngIf="!checkBoxSelectAll && this.eventsSelected.length != 0"
                                                (click)="selectAllCheckboxes()"
                                                class="cursor-pointer">{{eventsSelected.length}}</span>
                                            <span
                                                *ngIf="eventsSelected.length == getEventsOwner().length || this.eventsSelected.length == 0"><label><input
                                                        type="checkbox" class="checkbox-cus-1"
                                                        (click)="checkBoxSelectAllClick()"
                                                        [(ngModel)]="checkBoxSelectAll "><span></span></label></span>
                                        </th>
                                        <th [ngClass]="TC.MODE.table.titles[TC.THEME_ACTIVE]">Título</th>
                                        <th [ngClass]="TC.MODE.table.titles[TC.THEME_ACTIVE]">Hora</th>
                                        <th [ngClass]="TC.MODE.table.titles[TC.THEME_ACTIVE]">Fecha</th>
                                        <th [ngClass]="TC.MODE.table.titles[TC.THEME_ACTIVE]">Descripción</th>
                                        <th [ngClass]="TC.MODE.table.titles[TC.THEME_ACTIVE]" class="text-center">Ícono
                                        </th>
                                    </tr>
                                </thead>
                            </ng-container>

                            <!--Not found events request-->
                            <ng-container *ngIf="eventsRequest.length == 0 && !loading && eventsBackup.length == 0">
                                <thead>
                                    <tr>
                                        <th [ngClass]="TC.MODE.table.titles[TC.THEME_ACTIVE]" class="text-center">No hay
                                            eventos que mostrar</th>
                                    </tr>
                                </thead>
                            </ng-container>

                            <!--Not found events filtered header-->
                            <ng-container
                                *ngIf="inputSearchValue.length > 0 && !loading && eventsBackup.length > 0 && eventsRequest.length == 0">
                                <thead class="break-word">
                                    <tr>
                                        <th [ngClass]="TC.MODE.table.titles[TC.THEME_ACTIVE]" class="text-center">No se
                                            encontraron resultados para
                                            <i>{{inputSearchValue}}.</i>
                                        </th>
                                    </tr>
                                </thead>
                            </ng-container>

                            <tbody>

                                <ng-container *ngIf="eventsRequest.length > 0 && !loading">

                                    <ng-container *ngFor="let item of eventsRequest | slice:0:lazyLoadCharge">
                                        <tr [ngClass]="TC.MODE.table.nthchild_events[TC.THEME_ACTIVE]"
                                            class="cursor-pointer" (click)="viewInfoProduct(item.id)">
                                            <td class="center"><label>
                                                    <input type="checkbox" *ngIf="item.owner"
                                                        (click)="checkBoxClick(item.id)" [(ngModel)]="item.check">

                                                    <span *ngIf="!item.owner" class="left ml-5 cursor-pointer"><i
                                                            class="material-icons red-text"
                                                            (click)="leftToEvent(item.id)">logout</i></span>
                                                    <span> </span>
                                                </label></td>

                                            <td *ngIf="item.title.length > 13" [title]="item.title">
                                                {{item.title.slice(0,
                                                13)+"..."}}</td>
                                            <td *ngIf="item.title.length <= 13" [title]="item.title">
                                                {{item.title}}</td>

                                            <td>{{item.hour}}</td>

                                            <td>{{item.day}}/{{item.month}}/{{item.year}}</td>

                                            <td *ngIf="item.description.length >= 19" [title]="item.description">
                                                {{item.description.slice(0,
                                                19)+"..."}}</td>
                                            <td *ngIf="item.description.length <= 19" [title]="item.description">
                                                {{item.description}}</td>

                                            <td class="text-center">{{item.icon.length > 0
                                                ? item.icon : 'sin ícono'}}
                                            </td>
                                        </tr>
                                    </ng-container>

                                </ng-container>

                            </tbody>
                        </table>
                        <div class="progress" *ngIf="eventsRequest.length == 0 && loading">
                            <div class="indeterminate"></div>
                        </div>
                    </div>

                    <div class="progress" *ngIf="eventsRequest.length > 0 && loading">
                        <div class="indeterminate"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col l3">
            <app-aside-info-event></app-aside-info-event>
        </div>
    </div>
</div>