<div class="row">
    <div class="col l12 grey lighten-5 border-radius-10px box-shadow-1">
        <div>
            <h5 class="text-center">Información del evento</h5>
        </div>
        <div class="max-h-460px overflow-auto scroll-1">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto vitae hic voluptatum facilis ad, esse
            laborum adipisci aliquid impedit veniam itaque asperiores distinctio eligendi atque, quae quaerat soluta
            minima
            animi qui consequuntur dolores doloremque, repellat possimus voluptates? Molestias tempore blanditiis at
            doloremque! Illum dolorem unde officiis repellat voluptates dolores a animi voluptatem amet culpa! Ullam
            soluta
            sunt tempore excepturi sit pariatur obcaecati blanditiis, ex suscipit unde sequi nemo, veniam consequatur
            quas
            incidunt inventore similique eveniet! Quo molestiae, atque temporibus illum, enim expedita soluta quisquam
            iusto
            architecto totam nisi rem distinctio nesciunt? Quaerat eveniet unde odio est. In reprehenderit mollitia
            error
            similique natus repellat nam voluptatum excepturi explicabo exercitationem corrupti, maiores beatae maxime
            quaerat quibusdam itaque placeat ex asperiores, totam minima ipsa debitis. Necessitatibus nulla dolore
            temporibus, molestias quidem repellendus architecto culpa ad maxime vel sapiente sit dicta odit aut fugit
            ex,
            quisquam dolorem molestiae nesciunt laboriosam exercitationem modi nam provident. Impedit, molestiae!
            Nesciunt
            eveniet aspernatur modi molestiae recusandae ut doloremque necessitatibus, vel officia inventore animi
            corrupti
            asperiores dolorem provident perferendis obcaecati quaerat? Odio dolore doloremque tempore voluptates omnis
            eum
            numquam, aliquid saepe rerum vitae facilis culpa dolorem, eveniet, animi dignissimos. Quaerat adipisci illum
            eveniet magnam cumque fugit atque quos sit?
        </div>
    </div>
</div>