<div class="row" (mousedown)="false">
    <div class="col l12">
        <div class="calendario grey lighten-5 border-radius-10px">
            <div class="calendar box-shadow-1">
                <div class="calendar__info">
                    <div class="calendar__prev material-icons black-text" id="prev-month" (click)="prevMonth()">
                        chevron_left</div>
                    <div class="calendar__month" id="month">{{daysMonth.month}}</div>
                    <div class="calendar__year" id="year">{{daysMonth.year}}</div>
                    <div class="calendar__next material-icons black-text" id="next-month" (click)="nextMonthClick()">
                        chevron_right</div>
                </div>
                <div class="calendar__week">
                    <div class="calendar__day calendar__item style-cus-1">Lu</div>
                    <div class="calendar__day calendar__item style-cus-1">Ma</div>
                    <div class="calendar__day calendar__item style-cus-1">Mi</div>
                    <div class="calendar__day calendar__item style-cus-1">Ju</div>
                    <div class="calendar__day calendar__item style-cus-1">Vi</div>
                    <div class="calendar__day calendar__item style-cus-1">Sa</div>
                    <div class="calendar__day calendar__item style-cus-1">Do</div>
                </div>
                <div class="progress" *ngIf="loading">
                    <div class="indeterminate"></div>
                </div>
                <div class="calendar__dates" id="dates">
                    <ng-container *ngFor="let item of daysMonth.data">

                        <div *ngIf="item.isLast && (!item.today && !item.event)"
                            class="calendar__date calendar__item calendar__last-days style-cus-2"
                            (click)="createEventSelectDate(item.day, this.daysMonth.month, this.daysMonth.year)">
                            {{item.day}}
                        </div>
                        <!--Dias de mes pasado-->

                        <div *ngIf="item.today && (!item.event && !item.isLast)"
                            class="calendar__date calendar__item style-cus-2 teal lighten-1 white-text"
                            (click)="createEventSelectDate(item.day, this.daysMonth.month, this.daysMonth.year)">
                            {{item.day}}</div>
                        <!--Dia de hoy-->

                        <div *ngIf="item.event && (!item.isLast && !item.today)"
                            class="calendar__date calendar__item style-cus-2 rex" [ngClass]="randomClasses()"
                            (click)="createEventSelectDate(item.day, this.daysMonth.month, this.daysMonth.year)">
                            {{item.day}}
                            <span class=""
                                [ngClass]="{'floating-ball': item.day <= 9, 'floating-ball-fix-l2': item.day >= 10}">{{item.numEv}}</span>
                            <span
                                class="box-info-float overflow-auto scroll-1 text-black border-radius-10px grey lighten-4 row box-shadow-1">
                                <span class="col l12 p-1">
                                    <span class="font-size-17px">
                                        hii
                                    </span>
                                </span>
                            </span>
                        </div>
                        <!--Dias con eventos-->

                        <div *ngIf="!item.event && (!item.isLast && !item.today)"
                            class="calendar__date calendar__item style-cus-2"
                            (click)="createEventSelectDate(item.day, this.daysMonth.month, this.daysMonth.year)">
                            {{item.day}}
                        </div>
                        <!--Dias normales-->

                    </ng-container>
                </div>
            </div>


        </div>

        <div class="mt-4 grey lighten-5 border-radius-10px box-shadow-1">
            <h5 class="pt-2 center">Eventos de hoy</h5>
            <div class="min-max-h-125px px-4 overflow-auto scroll-1">
                <div class="progress" *ngIf="loading">
                    <div class="indeterminate"></div>
                </div>
                <table class="white border-radius-5px position-relative" *ngIf="!loading">
                    <thead>
                        <tr>
                            <!--Not found events today-->
                            <ng-container *ngIf="eventsRequest.length == 0">
                                <th class="text-center">No hay eventos de hoy</th>
                            </ng-container>

                            <ng-container *ngIf="eventsRequest.length >= 1">
                                <th class="text-center">Título</th>
                                <th class="text-center">Hora</th>
                                <th class="text-center">Fecha</th>
                            </ng-container>
                        </tr>
                    </thead>

                    <tbody>
                        <ng-container *ngFor="let item of eventsRequest | slice:0:lazyLoadCharge">
                            <!--Detect today date-->
                            <ng-container>
                                <tr>
                                    <td *ngIf="item.title.length > 15" [title]="item.title" class="text-center">
                                        {{item.title.slice(0,
                                        15)+"..."}}</td>
                                    <td *ngIf="item.title.length <= 15" [title]="item.title" class="text-center">
                                        {{item.title}}</td>

                                    <td class="text-center">{{item.hour}}</td>
                                    <td class="text-center">{{item.day}}/{{
                                        item.month}}/{{item.year}}</td>
                                </tr>
                            </ng-container>

                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>