<div class="row">
    <div class="col s12">
        <!-- Calendario -->
        <div [ngClass]="TC.MODE.calendar[TC.THEME_ACTIVE]" class="calendario border-radius-10px">
            <div class="calendar box-shadow-1">
                <div class="calendar__info">
                    <div [ngClass]="TC.MODE.calendar_arrows[TC.THEME_ACTIVE]"
                        class="calendar__prev material-icons border-radius-5px" id="prev-month" (click)="prevMonth()">
                        chevron_left</div>
                    <div [ngClass]="TC.MODE.calendar_month_year[TC.THEME_ACTIVE]" class="calendar__month" id="month">
                        {{daysMonth.month}}</div>
                    <div [ngClass]="TC.MODE.calendar_month_year[TC.THEME_ACTIVE]" class="calendar__year" id="year">
                        {{daysMonth.year}}</div>

                    <div [ngClass]="TC.MODE.calendar_arrows[TC.THEME_ACTIVE]"
                        class="calendar__next material-icons border-radius-5px" id="next-month"
                        (click)="nextMonthClick()">
                        chevron_right</div>
                </div>
                <div [ngClass]="TC.MODE.calendar_month_year[TC.THEME_ACTIVE]" class="calendar__week">
                    <div class="calendar__day calendar__item">Lu</div>
                    <div class="calendar__day calendar__item">Ma</div>
                    <div class="calendar__day calendar__item">Mi</div>
                    <div class="calendar__day calendar__item">Ju</div>
                    <div class="calendar__day calendar__item ">Vi</div>
                    <div class="calendar__day calendar__item">Sa</div>
                    <div class="calendar__day calendar__item">Do</div>
                </div>
                <!-- <div class="progress" *ngIf="loading">
                    <div class="indeterminate"></div>
                </div> -->
                <div class="calendar__dates" id="dates">
                    <ng-container *ngFor="let item of daysMonth.data">

                        <!--Dias de mes pasado-->
                        <div [ngClass]="TC.MODE.calendar_days_last[TC.THEME_ACTIVE]"
                            *ngIf="item.isLast && (!item.today && !item.event)"
                            class="calendar__date calendar__item style-cus-2 cursor-normal">
                            {{item.day}}
                        </div>

                        <!--Dia de hoy-->
                        <div *ngIf="item.today && (!item.event && !item.isLast)"
                            [ngClass]="TC.MODE.calendar_day_today[TC.THEME_ACTIVE]"
                            class="calendar__date calendar__item style-cus-2 white-text cursor-pointer"
                            (click)="createEventSelectDate(item.day, this.daysMonth.month, this.daysMonth.year)"
                            title="Dia de hoy">
                            {{item.day}}
                            <ng-container *ngIf="eventsRequest.length >= 1">
                                <span class="floating-ball-fix-l2">{{eventsRequest.length}}</span>
                            </ng-container>
                        </div>

                        <!--Dias con eventos-->
                        <!-- [ngClass]="randomClasses()" -->
                        <div *ngIf="item.event && (!item.isLast && !item.today)"
                            [ngClass]="TC.MODE.calendar_day_event[TC.THEME_ACTIVE]"
                            class="calendar__date calendar__item style-cus-2 rex cursor-pointer"
                            (click)="createEventSelectDate(item.day, this.daysMonth.month, this.daysMonth.year)">
                            {{item.day}}
                            <span class=""
                                [ngClass]="{'floating-ball': item.day <= 9, 'floating-ball-fix-l2': item.day >= 10}">{{item.numEv}}</span>
                            <!-- <span
                                class="box-info-float overflow-auto scroll-1 text-black border-radius-10px grey lighten-4 row box-shadow-1">
                                <span class="col l12 p-1">
                                    <span class="font-size-17px">
                                        hii
                                    </span>
                                </span>
                            </span> -->
                        </div>

                        <!--Dias normales-->
                        <div *ngIf="!item.event && (!item.isLast && !item.today)"
                            [ngClass]="TC.MODE.calendar_normal_days[TC.THEME_ACTIVE]"
                            class="calendar__date calendar__item style-cus-2 cursor-pointer"
                            (click)="createEventSelectDate(item.day, this.daysMonth.month, this.daysMonth.year)">
                            {{item.day}}
                        </div>

                    </ng-container>
                </div>
            </div>


        </div>

        <!-- Eventos de hoy -->
        <div [ngClass]="TC.MODE.events_today[TC.THEME_ACTIVE]" class="mt-4 border-radius-10px box-shadow-1">
            <h5 class="pt-2 center">Eventos de hoy</h5>
            <div class="min-max-h-125px px-4 overflow-auto scroll-1">
                <table class="white border-radius-5px position-relative">
                    <thead [ngClass]="TC.MODE.events_today_thead[TC.THEME_ACTIVE]">
                        <tr>
                            <!--Not found events today-->
                            <ng-container *ngIf="eventsRequest.length == 0">
                                <th [ngClass]="TC.MODE.events_today_no_events[TC.THEME_ACTIVE]" class="text-center">No
                                    hay eventos de hoy</th>
                            </ng-container>

                            <ng-container *ngIf="eventsRequest.length >= 1">
                                <th [ngClass]="TC.MODE.events_today_titles[TC.THEME_ACTIVE]" class="text-center">Título
                                </th>
                                <th [ngClass]="TC.MODE.events_today_titles[TC.THEME_ACTIVE]" class="text-center">Hora
                                </th>
                                <th [ngClass]="TC.MODE.events_today_titles[TC.THEME_ACTIVE]" class="text-center">Fecha
                                </th>
                            </ng-container>
                        </tr>
                    </thead>

                    <tbody [ngClass]="TC.MODE.events_today_tbody[TC.THEME_ACTIVE]">
                        <ng-container *ngFor="let item of eventsRequest | slice:0:lazyLoadCharge">
                            <!--Detect today date-->
                            <ng-container>
                                <tr>
                                    <td *ngIf="item.title.length > 15" [title]="item.title" class="text-center">
                                        {{item.title.slice(0,
                                        15)+"..."}}</td>
                                    <td *ngIf="item.title.length <= 15" [title]="item.title" class="text-center">
                                        {{item.title}}</td>

                                    <td class="text-center">{{item.hour}}</td>
                                    <td class="text-center">{{item.day}}/{{
                                        item.month}}/{{item.year}}</td>
                                </tr>
                            </ng-container>

                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>