<!--Nav when is logged-->
<nav [ngClass]="TC.MODE.nav_footer[TC.THEME_ACTIVE]" *ngIf="(_auth.isLoggedIn() | async) && !(_rootPageStatus
.listenRootPageStatus() | async)">
    <div class="nav-wrapper">

        <a class="brand-logo ml-1"><img src="https://www.dropbox.com/s/uo5uwlxd9tvvfsq/logo.png?dl=1" width="200"
                height="50" alt="logo" class="position-img-cus-1 cursor-pointer" [routerLink]="['/']"></a>

        <ul class="right hide-on-med-and-down h-100">
            <li>
                <a class="font-family-1 font-tags-link p-0 mouse-events-none">{{infoProfileSvc.info_profile.name.length
                    >= 31 ?
                    infoProfileSvc.info_profile.name.slice(0, 31) + '...' :
                    infoProfileSvc.info_profile.name}}</a>
            </li>

            <li class="h-100">
                <a class="h-100 mouse-events-none"><img [src]="infoProfileSvc.info_profile.photo"
                        class="img-thumbnail border-radius-50 w-h-45px mt-20" height="45" width="45"></a>
            </li>

            <li [routerLink]="['/home']" [ngClass]="{'active': tagActive == 5}">
                <a class="font-tags-link">Inicio</a>
            </li>

            <li [routerLink]="['/chat']" [ngClass]="{'active': tagActive == 6}">
                <a class="font-tags-link">Chat <span *ngIf="socketWebSvc.chatsWithoutRead != 0"
                        class="box-number-message red">{{socketWebSvc.chatsWithoutRead >=
                        100 ?
                        '99+': socketWebSvc.chatsWithoutRead}}</span></a>
            </li>

            <li [routerLink]="['/settings']" [ngClass]="{'active': tagActive == 7}"><a
                    class="font-tags-link">Configuración</a></li>

            <li (click)="logout()"><a class="font-tags-link">Cerrar sesión</a></li>
        </ul>

    </div>
</nav>

<!--Nav when is not logged-->
<nav [ngClass]="TC.MODE.nav_footer[TC.THEME_ACTIVE]" *ngIf="!(_auth.isLoggedIn() | async) || (_rootPageStatus
.listenRootPageStatus() | async)" [ngStyle]="{'position': tagActive != 1 ? 'absolute' : ''}">
    <div class="nav-wrapper">

        <a class="brand-logo ml-1"><img src="https://www.dropbox.com/s/uo5uwlxd9tvvfsq/logo.png?dl=1" width="200"
                height="50" alt="logo" class="position-img-cus-1 cursor-pointer" [routerLink]="['/']"></a>

        <ul class="right hide-on-med-and-down h-100">
            <li [routerLink]="['/documentation']" [ngClass]="{'active': tagActive == 1}">
                <a class="font-tags-link">Documentación</a>
            </li>

            <li *ngIf="!(_auth.isLoggedIn() | async)" [routerLink]="['/login']" [ngClass]="{'active': tagActive == 3}">
                <a class="font-tags-link">Inicia sesión o regístrate</a>
            </li>

            <li *ngIf="(_auth.isLoggedIn() | async)" [routerLink]="['/login']" [ngClass]="{'active': tagActive == 3}">
                <a class="font-tags-link">Entrar a la agenda</a>
            </li>

            <li [routerLink]="['/contact']" [ngClass]="{'active': tagActive == 4}">
                <a class="font-tags-link">Contáctanos</a>
            </li>

        </ul>

    </div>
</nav>